---
---

@import"{{ site.theme }}";

#main_content {
  color: #000000;
  width: 70%;
  float: left;
}

body {
  padding: 1em;
}

h4:before {
  margin-left: 0em;
  content: '';
  padding-right: 0em;
}


form { padding: 20px; background: #fafafa url(../images/body-bg.jpg) 0 0 repeat; }